

@media only screen and (max-width:320px) {
    .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw !important;
    }
    .card-img{
        width :150px;
        height:150px;

    }
}

@media only screen and (max-width:425px) {
    
    .card-img{
        width :150px;
        height:150px;

    }
}
@media only screen and (max-width:1316px) {
    .font-card{
        font-size: 13px !important;
        font-weight: bold;
    }
    .card-img{
        width :150px;
        height:150px;

    }
}
